@font-face {
  font-family: "PT Sans";
  src: url(".../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(".../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.visually-hidden {
  /* color: red; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  background-color: #F2F2F2;
  font-size: 22px;
  line-height: 26px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  color: #000000;
  cursor: default;
}

.page-wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

.content-container {
  width: 1059px;
  margin: 0 auto;
}

/* BUTTONS */

.button {
  display: block;
  border-radius: 4px;
  width: fit-content;
  height: 37px;
  background-color: #756157;
  border: none;
  font-size: 16px;
  line-height: 37px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-blue {
  background-color: #82B3D3;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #68A2CA;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
}
/* TEXTS */

.section-heading {
  max-width: 620px;
  margin: 0 auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

/* HEADER */

.page-header {
  height: 65px;
  z-index: 999;
}

.header-container {
  display: flex;
}

.logo-header {
  z-index: 999;
}

.navigation {
  height: 66px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin-left: 45px;
}

.navigation-list {
  display: flex;
  flex-grow: 1;
  column-gap: 34px;
  height: 100%;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.navigation-link {
  display: block;
  width: fit-content;
  height: 64px;
  font-size: 20px;
  font-weight: 700;
  line-height: 70px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.navigation-link-current {
  border-bottom: 2px solid #756257;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #756157;
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-link-current:hover,
.navigation-link-current:focus,
.navigation-link-current:active {
  color: #000000;
}

.navigation-icon-link {
  width: 42px;
}

.navigation-icon-link-icon:hover {
  fill:#615048
}

.favorites-count-circle {
  position: relative;
  top: -55px;
  left: 25px;

  border-radius: 10px;
  width: 20px;
  height: 20px;
  background-color: #7DB54F;
  font-size: 10px;
  line-height: 20px;
  color: #FFFFFF;
}

.header-button {
  width: 160px;
  margin-left: 20px;
}

/* MAIN START SCREEN */

.start-screen {
  height: 379px;
  padding-top: 51px;
  padding-bottom: 55px;
  background-color: #61859D;
  background-image: url("../images/backgrounds/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.start-motto {
  display: block;
  margin: 0 auto;
}

/* ADVANTAGES */

.advantages-section {
  padding-top: 63px;
  padding-bottom: 90px;
}

.advantages-heading {
  max-width: 620px;
  margin: 0 auto;
}

.main-paragraph {
  margin: 0;
  text-align: center;
  color: #333333;
}

.advantages-paragraph {
  margin-top: 31px;
}

.advantages-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 384px 384px 384px 384px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.advatages-list-item-with-sublist {
  grid-column: 1 / 4;
  grid-row: 1 / 3;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 230px;
  height: 200px;
  padding: 92px 85px;
}

.advantages-main-item {
  display: flex;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-sublist {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.advantages-item-lightblue {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-blue {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item-heading {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-item-text,
.advantages-item-number {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-sublist {
  list-style-type: none;
}


.advantages-item-bridge {
  flex-direction: row-reverse;
  grid-column: 1/4;
}


/* ЗАИНТЕРЕСОВАЛИСЬ? */

.hotel-search {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 233px;
  padding-top: 91px;
  padding-bottom: 93px;
}

.hotel-paragraph {
  max-width: 592px;
}

.button-hotel-search {
  width: 574px;
  height: 60px;
  font-size: 20px;
  line-height: 60px;
}

/* ПОДПИШИТЕСЬ НА РАССЫЛКУ */

.subscribe {
  min-height: 231px;
  padding: 90px 200px;
  display: flex;
  flex-direction: column;
  background-image: url("../images/backgrounds/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.white-paragraph {
  color: #FFFFFF;
}

.subscription-form {
  display: flex;
}

.subscribe-paragraph {
  max-width: 475px;
  margin: 0 auto;
  margin-top: 26px;
  margin-bottom: 46px;
}

.subscription-field {
  width: 75%;
  height: 58px;
  padding-left: 22px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 10px 0 0 10px;
}

.subscription-button {
  width: 25%;
  height: 60px;
  font-size: 20px;
  border-radius: 0 10px 10px 0;
}

/* FOOTER */

.links-phone-footer {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.networks-list {
  display: flex;
  min-height: 120px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-phone-number {
  font-size: 40px;
  text-decoration: none;
  color:inherit;
}

.footer-phone-number:hover,
.footer-phone-number:focus {
  color: #756157;
}

.footer-phone-number:active {
  color: rgba(117, 97, 87, 0.3);
}

/* CATALOG PAGE */

/* filter section */

.filter-section {
  height: fit-content;
  padding-top: 35px;
  padding-left: 70px;
  padding-bottom: 70px;
  padding-right: 70px;
  background-image: url("../images/backgrounds/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.header-catalog-heading {
  margin: 0;
  text-align: left;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  margin-top: 5px;
}

.breadcrumbs-item {
  font-size: 16px;
}

.hotel-filter {
  margin-top: 40px;
}

.hotel-filter-form {
  display: flex;
  justify-content: space-between;
}

.hotel-filter-group {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
}

.hotel-filter-group-price {
  padding-left: 105px;
}

.hotel-filter-title {
  margin-bottom: 15px;
  text-align: left;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 20px;
}

.hotel-filter-option {
  font-size: 18px;
  margin-top: 15px;
}

.hotel-filter-option-input {
  width: 20px;
  height: 20px;
  margin-top: auto;
  margin-bottom: auto;
  border: none;
}

.price-range-number {
  display: flex;
}

.price-min-number,
.price-max-number {
  max-width: 105px;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 14px;
  padding-bottom: 13px;
  font-size: 18px;
  color: #FFFFFF;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
}

.price-min-number {
  position: relative;
  right: 17px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.price-max-number {
  position: relative;
  right: 39px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.hotel-filter-option-price {
  position: relative;
  left: 100px;
  opacity: 0.3;
}

.filter-submit-button {
  width: 160px;
  height: 48px;
}

.filter-reset-button {
  max-height: 20px;
  background: none;
  border: none;
  padding: 10px;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
}

.catalog-header-link{
  font-size: 16px;
  color: inherit;
  cursor: pointer;
}

.catalog-header-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.catalog-header-link:active {
  color: rgba(255, 255, 255, 0.3);
}

/* main section */

.catalog-header-container {
  max-width: 1057px;
  margin: 0 auto;
  display: flex;
}

.search-results-heading {
  text-align: left;
}

.hotel-card-container {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  grid-template-rows: 438px 438px;
  column-gap: 18px;
}

.hotel-card {
  padding: 20px;
}

.hotel-card-link {
  text-decoration: none;
  color: inherit;
}

.hotel-card-title {
  margin: 0;
  margin-top: 16px;
  font-size: 24px;
  line-height: 28px;
}

.hotel-card-options {
  font-size: 18px;
}
.hotel-card-info {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 37px;
  column-gap: 20px;
  row-gap: 16px;
}

.hotel-card-more-link,
.favorites-button,
.hotel-rating {
  width: 140px;
}

.favorites-button-active {
  background-color: #7DB54F;
}

.favorites-button-active:hover,
.favorites-button-active:focus {
  background-color: #6C9E42;
}

.favorites-button-active:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotel-rating {
  margin: 0;
  border-radius: 4px;
  height: 37px;
  background-color: #F2F2F2;
  text-align: center;
  text-transform: uppercase;
  line-height: 37px;
  font-size: 16px;
  font-weight: 400;
  color: #333333
}

/* PAGINATION */

.pagination {
  list-style-type: none;
}

.pagination-link {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  background-color: #82B3D3;
  text-align: center;
  text-decoration: none;
  line-height: 60px;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current,
.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active {
  background-color: #F2F2F2;
  color: #000000;
}

.hotel-number-view {
  font-size: 18px;
  color: #333333
}

/* SUBSCRIBTION SECTION */

.subscribe-catalog {
  background-image: none;
  color: #000000;
}
